div{
    background-color: silver;
    width: 613px;
}
#blok1_chylinski:hover{
    background-color: maroon;
    font-size: 19mm;
}
#blok2_chylinski:hover{
    background-color: lightgreen;
    font-size: 19mm;
}
#blok3_chylinski:hover{
    background-color: red;
    font-size: 19mm;
}
/*Szymon Chyliński*/
/*hover powoduje zmiany pewnych elementów po najechaniu na nie
urządzeniem wskazującym*/
