*{
    font-size: 35pt;
    color: red;
    background-color: silver;
}
p.klasa_nieuniwersalna_Chylinski, 
p.klasa_nieuniwersalna_Chylinski * {
    font-size: 30pt;
    color: green;
}
*.klasa_uniwersalna_Chylinski{
    font-size: 23pt;
    color: green;
}